@import "reset";

$orange: #ffc373;
$gray: #888;

$sans-serif-fonts: "Droid Sans", "Helvetica Neue", Helvetica, Arial,
    Verdana, sans-serif;
$serif-fonts: "Droid Serif", Georgia, "Times New Roman", serif;

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
}

@mixin linear-gradient($from, $to) {
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
}

html,
body {
  background-image: url("../natural_paper.png");
  background-repeat: repeat;
}

header {
  @include linear-gradient($orange, lighten($orange, 10%));
  @include box-shadow(0px 0px 5px $gray);
  padding-top: 5px;
  padding-bottom: 20px;
}

nav {
  font-family: $sans-serif-fonts;
  text-align: center;
  font-size: 18px;
  width: 100%;
}

#mainText p,
#mainText li,
#mainText legend {
  font-family: $sans-serif-fonts;
  font-size: 18px;
  line-height: 24px;
}

#mainText p {
  padding-bottom: 25px;
}

#mainText legend {
  border: none;
  margin-bottom: 0px;
}

img[src="rasmaller.jpg"] {
  display: block;
}

h1,
h2,
h3 {
  font-family: $serif-fonts;
}

h1 {
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 25px;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  font-size: 20px;
  border-top-style: dashed;
  border-top-width: 1px;
  padding-top: 20px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-bottom: 25px;
}

#currentPage {
  font-weight: bold;
}

#colorFormDescription {
  padding-bottom: 25px;
}

form li {
  margin-left: 0px; /* override text.css */
}

fieldset {
  padding-bottom: 15px;

  p {
    padding-bottom: 5px;
  }
}

.colorSelect {
  padding-bottom: 5px;

  select {
    display: block;
  }
}

#randomButtons {
  padding-top: 10px;
  padding-bottom: 10px;

  input {
    display: block;
    margin-bottom: 15px;
  }    
}
