@import "reset";

$orange: #ffc373;
$shadow-gray: #888;
$body-dark-gray: #444;
$header-dark-gray: #222;

$name-font-size: 2.8em;
$page-title-font-size: 2.0em;
$section-title-font-size: 1.6em;
$body-text-font-size: 1.1em;
//$name-font-size: 4.0em;
//$page-title-font-size: 2.5em;
//$section-title-font-size: 1.5em;
//$body-text-font-size: 1.0em;

$sans-serif-fonts: "Open Sans", "Lato", "Droid Sans", "Helvetica Neue", Helvetica,
  Arial, Verdana, sans-serif;
$header-font: "Algreya SC";
$serif-fonts: "Droid Serif", Georgia, "Times New Roman", serif;

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
}

@mixin linear-gradient($from, $to) {
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
}

html,
body {
  //background-image: url("../natural_paper.png");
  //background-repeat: repeat;
  background-color: #f6f6f6;
  //background-color: #ffe2b8;
}

body {
  font-size: 100%;
}

header {
  //@include linear-gradient($orange, lighten($orange, 10%));
  background-color: $orange;
  @include box-shadow(0px 0px 5px $shadow-gray);
  padding-top: 5px;
  padding-bottom: 20px;
}

nav {
  font-family: $sans-serif-fonts;
  text-align: center;
  font-size: $body-text-font-size;
  width: 100%;
}

#mainText p,
#mainText li {
  font-family: $sans-serif-fonts;
  font-size: $body-text-font-size;
  line-height: 24px;
  color: $body-dark-gray;
}

#mainText p {
  padding-bottom: 25px;
}

.acronym {
  font-variant: small-caps;
  font-weight: 600;
}

img[src="rasmaller.jpg"] {
  display: block;
}

h1,
h2,
h3 {
  color: $header-dark-gray;
}

h1 {
  font-family: $header-font;
  font-size: $name-font-size;
  padding-top: 10px;
  padding-bottom: 25px;
  font-variant: small-caps;
}

h2 {
  font-size: $page-title-font-size;
  padding-top: 15px;
  padding-bottom: 15px;
}

#first-section-title {
  padding-top: 0px;
}

h3 {
  font-size: $section-title-font-size;
  padding-top: 30px;
  padding-bottom: 10px;
}

h1,
h2 {
  text-align: center;
}

h2,
h3 {
  font-family: $sans-serif-fonts;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-bottom: 25px;
}

#currentPage {
  font-weight: bold;
}
