*{
    margin:0;
    padding:0;
}
html, body{
    position:relative;
    background-color:#B0C4DE; /* light steel blue */
    height:100%;
    margin:0;
    padding:0;
}
header{
    background-color:#0000FF; /*blue*/
    box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
}
div#wrap{
    min-height:100%;
    margin:0 auto;
}
div#main{
    overflow:auto;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    
    /*prevents box-shadow from causing a scollbar to appear in Firefox */
    overflow:hidden;
}
div#mainText{
    background-color:#FFFFFF; /* white */
    margin-top:0;
    margin-bottom:0;
    margin-left:21px;
    padding:10px;
    width:60%;
    font-family:"Times New Roman", Georgia, serif;
    border-radius: 10px;
    -moz-border-radius: 10px;
    position:relative;
    top:10px;
    float:left;
    box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
}
img[src="mit_logo_shrunk.png"]{
    float:left;
}
img[src="rasmaller.jpg"]{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:15px;
    padding-bottom:15px;
}
h1{
    position:relative;
    right:9%;
}
h1, h2{
    font-family:Arial, Verdana, sans-serif;
    text-align:center;
}
h2{
    text-shadow:2px 2px 2px #ccc;
}
h3{
    font-family:Arial, Verdana, sans-serif;
    font-size:115%;
    padding-top:5px;
    padding-bottom:5px;
    border-top-style:dashed;
    border-top-width:1px;
    margin-top:5px;
}
p {
    padding-top:5px;
    padding-bottom:5px;
}
ul{
    list-style-type:none;
}
nav{
    float:right;
    position:relative;
    top:10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color:#808080; /* gray */
    width:30%;
    padding-top:5px;
    padding-bottom:5px;
    line-height:200%;
    box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
}
nav li{
    padding-left:10px;
}
li#currentPage{
    font-weight:bold;
}
footer{
    position:relative;
    margin-top:-10px;
    height:10px;
    clear:both;
}
form {
    padding:10px;
}
form li{
    padding:5px;
}
/*Sticky footer Opera fix*/
body:before{
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
