*{
    margin:0;
    padding:0;
}
html, body{
    position:relative;
    background-color:#B0C4DE; /* light steel blue */
    height:100%;
    margin:0;
    padding:0;
}
p {
    padding-top:5px;
    padding-bottom:5px;
}
header{
    border-bottom:1px solid black;
    background-color:#0000FF; /*blue*/
}
div#wrap{
    min-height:100%;
    margin:0 auto;
}
div#main{
    overflow:auto;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}
div#mainText{
    background-color:#FFFFFF; /* white */
    margin-top:0;
    margin-bottom:0;
    margin-left:21px;
    padding:10px;
    width:60%;
    font-family:"Times New Roman", Georgia, serif;
    border:1px solid black;
    position:relative;
    top:10px;
    float:left;
}
img[src="mit_logo_shrunk.png"]{
    float:left;
}
img[src="gujaratiRestaurantCropped.jpg"]{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:5px;
    padding-bottom:5px;
}
h1{
    position:relative;
    right:95px;
}
h1, h2{
    font-family:Arial, Verdana, sans-serif;
    text-align:center;
}
h3{
    font-family:Arial, Verdana, sans-serif;
    font-size:115%;
    padding-top:5px;
    padding-bottom:5px;
    border-top-style:dashed;
    border-top-width:1px;
    margin-top:5px;
}
ul{
    list-style-type:none;
}
nav{
    float:right;
    position:relative;
    top:10px;
    border:1px solid black;
    /*background-color:#32CD32; /* lime green */
    background-color:#808080; /* gray */
    width:30%;
    /*padding:10px;*/
    padding-top:10px;
    padding-bottom:5px;
    line-height:200%;
}
nav li{
    /*background-color:#FF6600;*/
    padding-left:10px;
}
li#currentPage{
    font-weight:bold;
}
li.listTitle{
    font-family:Arial, Verdana, sans-serif;
    font-size:125%;
    font-weight:bold;
}
footer{
    position:relative;
    margin-top:-10px;
    height:10px;
    clear:both;
}
form {
    padding:10px;
}
form li{
    padding:5px;
}
/*Sticky footer Opera fix*/
body:before{
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
