html, body {
  background-color: #F0FFF0;
  font-family: "Metrophobic", "Times New Roman", Georgia, serif;
  font-size: 14px;
}
header {
  background-color: #FFC373;
  box-shadow:  0px 0px 5px #888;
  -moz-box-shadow:  0px 0px 5px #888;
  -webkit-box-shadow:  0px 0px 5px #888;
  padding-top: 5px;
  padding-bottom: 20px;
}
nav {
  text-align: center;
  font-size: 16px;
}
#mainText {
  font-size: 16px;
}
img[src="rasmaller.jpg"] {
  display: block;
}
h1, h2, h3 {
  font-family: "Duru Sans", Arial, Verdana, sans-serif;
}
h1 {
  font-size: 30px;
}
h1, h2 {
  text-align: center;
}
h2 {
  font-size: 25px;
  padding-top: 15px;
}
h3 {
  font-size: 14px;
  border-top-style: dashed;
  border-top-width: 1px;
  padding-top: 15px;
  margin-bottom: 5px;
}
ul {
  list-style-type: none;
}
#currentPage {
  font-weight: bold;
}
legend {
  padding-bottom: 25px;
}
form li {
  margin-left: 0px; /* override text.css */
}
.colorSelect {
  padding-bottom: 5px;
}
.colorSelect select {
  display: block;
}
#randomButtons {
  padding-top: 10px;
  padding-bottom: 10px;
}
#randomButtons input {
  margin-right: 10px;
}
